version: "3.8"

services:
  app:
    image: kwonjunyeol/investment-analysis-backend:latest
    container_name: investment-app
    ports:
      - "8081:8080"
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
    restart: unless-stopped

