spring:
  datasource:
    url: jdbc:h2:mem:investment;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

jwt:
  secret: THIS_IS_A_DEMO_SECRET_KEY_CHANGE_LATER